<h2 class="mat-h2">Karte der sozialen Einrichtungen</h2>
<div class="t30-map-div">
  <yaga-map class="adfc-map" [(zoom)]="mapZoom" [(lat)]="mapLat" [(lng)]="mapLon">
    <yaga-tile-layer [(url)]="tileLayerUrl"></yaga-tile-layer>
    <yaga-geojson [data]="geoData" [pointToLayer]="pointToLayerFunc">
      <yaga-popup (open)="popupOpen($event)" minWidth="350" maxWidth="500">
        <b>{{ popupProperties.name }}</b>
        {{ popupProperties.street_house_no}}, {{ popupProperties.zip }} {{popupProperties.city}} <br>
        <div [matTooltip]="popupProperties.status |t30StatusLongText"><img class="starImg" [src]="popupProperties.status |t30StatusStarSvgUrl">{{ popupProperties.status |t30StatusShortText}}
          <mat-icon>help</mat-icon>
        </div><br>
        <app-soz-einr-buttons [id]="popupProperties.id" [tempo30]="popupProperties.status"></app-soz-einr-buttons>
      </yaga-popup>
    </yaga-geojson>
    <yaga-zoom-control></yaga-zoom-control>
  </yaga-map>
</div>
<mat-action-row>
  <button mat-raised-button color="primary" routerLink="/einrichtung/edit/-1" type="submit">
    <mat-icon>add_box</mat-icon> Fehlende soziale Einrichtung hinzufügen
  </button>
  <button *ngIf="showLegende===false" mat-raised-button (click)="showLegende=true;">
    <mat-icon>help</mat-icon> Legende
  </button>
</mat-action-row>
<app-star-legende [(showLegende)]="showLegende"></app-star-legende>
