.mat-expansion-panel.odd {
  background-color: #f4f4f4;
}
.mat-expansion-panel.even {
  background-color: #ffffed;
}
.mat-expansion-panel-header-title {
  display: block;
  width: 40%
}
.mat-expansion-panel-header-description {
  display: block;
  width: 59%
}
.mat-expansion-panel-body {
  margin-left: 30px;
}
.t30-full-width {
  width: 100%;
}
.t30-half-width {
  width: 50%;
}
.t30-3-width {
  width: 33.3%;
}
.t30-hausnummer-width {
  width: 15%;
}

.t30-full-width-flex {
    width: 100%;
    display: flex;
}
