<mat-expansion-panel [formGroup]="fg" [expanded]="true"  [ngClass]="{ odd: (fgIndex % 2 == 0), even: fgIndex % 2 == 1 } ">
  <mat-expansion-panel-header >
    <mat-panel-title>
      {{ this.fg.get('street').value }}
      {{ this.fg.get('house_no_from').value }}  -  {{ this.fg.get('house_no_to').value }}
    </mat-panel-title>
    <mat-panel-description>
    Status: {{ this.fg.get('status').value | t30StatusShortText}}
    <i class="material-icons" matTooltip="Busverkehr" *ngIf="['2','3'].includes(this.fg.get('much_bus_traffic').value)">
      directions_bus
    </i>
    <i class="material-icons" matTooltip="viel Busverkehr" *ngIf="'3'===this.fg.get('much_bus_traffic').value">
      directions_bus
    </i>
    <i class="material-icons" matTooltip="Es wurde eine Forderungsemail verschickt" *ngIf="this.fg.get('mail_sent').value">
      mail
    </i>
    </mat-panel-description>
  </mat-expansion-panel-header>
<div>
    <mat-form-field class="t30-half-width">
  <input matInput placeholder="Straße" [matAutocomplete]="auto" autocomplete="false" (ngModelChange)="changeStrassenname($event)" formControlName="street">
</mat-form-field>
<mat-autocomplete #auto="matAutocomplete">
  <mat-option *ngIf="isLoading" class="is-loading">
    <mat-spinner diameter="50"></mat-spinner>
  </mat-option>
  <ng-container *ngIf="!isLoading">
    <mat-option *ngFor="let einr of filteredStrassen" [value]="einr">
      <span>{{ einr}}</span>
    </mat-option>
  </ng-container>
</mat-autocomplete>

<!--     <mat-form-field class="t30-half-width">
 <input matInput placeholder="Straße" formControlName="street">
</mat-form-field>-->
<mat-form-field class="t30-hausnummer-width">
  <input matInput placeholder="von Hausnummer" formControlName="house_no_from">
</mat-form-field>
<mat-form-field class="t30-hausnummer-width">
  <input matInput placeholder="bis Hausnummer" formControlName="house_no_to">
</mat-form-field>
<mat-form-field class="t30-half-width">
  <mat-select placeholder="Ist hier ein Haupteingang und/oder An- und Abreiseverkehr?" formControlName="entrance">
    <mat-option value="2">Haupteingang und An- und Abreiseverkehr</mat-option>
    <mat-option value="1">Haupteingang</mat-option>
    <mat-option value="0">An- und Abreiseverkehr</mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field class="t30-half-width">
  <mat-select placeholder="Wieviele KFZ-Spuren gibt es pro Fahrtrichtung?" formControlName="multilane">
    <mat-option *ngFor="let item of [0,1];" value="{{item}}">{{item |spurigkeit }}</mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field class="t30-half-width">
  <mat-select placeholder="Wie ist der Tempo-30-Status aktuell?" formControlName="status">
    <mat-option value="0" *ngIf="!(this.fg.get('mail_sent').value)">Keine Angabe</mat-option>
    <mat-option value="2" *ngIf="!(this.fg.get('mail_sent').value)">Hier ist Tempo 30</mat-option>
    <mat-option value="1" *ngIf="this.fg.get('mail_sent').value">Hier wurde Tempo 30 gefordert</mat-option>
    <mat-option value="3" *ngIf="!(this.fg.get('mail_sent').value)">Hier fehlt Tempo 30</mat-option>
    <mat-option value="5">Tempo 30 wurde angeordnet, die Schilder stehen aber noch nicht</mat-option>
    <mat-option value="4">Die Behörde hat abgelehnt, hier Tempo 30 einzuführen</mat-option>
    <mat-option value="2" *ngIf="this.fg.get('mail_sent').value">Hier wurde Tempo 30 eingeführt</mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field class="t30-half-width">
  <input matInput placeholder="Zeitliche Einschränkung" formControlName="time_restriction">
  <mat-hint>
  Ist das Tempo 30 eingeschränkt, z.B nur Mo-Fr 7:00-12:00 Uhr?
  </mat-hint>
</mat-form-field>
<mat-form-field class="t30-full-width">
  <textarea matInput placeholder="Verlauf der Tempo-30-Forderung" formControlName="progress_report"></textarea>
  <mat-hint> Bist du schon in Kontakt mit der Einrichtung, mit der Polizei, hat ein Politiker dafür/dagegen etwas gesagt?</mat-hint>
</mat-form-field>
<mat-form-field class="t30-full-width">
  <textarea  matInput formControlName="user_note" placeholder="Warum sollte gerade hier Tempo 30 gelten?"></textarea>
  <mat-hint>
   Uneinsichtige Stelle? Beobachtete Unfälle? Parkende Autos? Viel Radverkehr?...
  </mat-hint>
</mat-form-field>
<mat-form-field class="t30-half-width">
  <mat-select placeholder="Busverkehr" formControlName="much_bus_traffic">
    <mat-option *ngFor="let item of [1,2,3];" value="{{item}}">{{item |busverkehr }}</mat-option>
  </mat-select>
  <mat-hint>
    in mindestens eine Richtung, Werktags zwischen 7 und 8 Uhr
  </mat-hint>
</mat-form-field>
<mat-form-field class="t30-half-width">
  <input matInput placeholder="Buslinien" formControlName="bus_lines">
  <mat-hint>
  Welche Buslininien fahren hier? Bitte mit Komma trennen
  </mat-hint>
</mat-form-field>
<mat-form-field class="t30-full-width">
  <textarea  matInput formControlName="reason_slower_buses" placeholder="Anmerkung zum Busverkehr"></textarea>
  <mat-hint>
   Kann ein Bus hier wirklich schneller als 30 km/h fahren? Oder ist hier sowieso eine Ampel/Bushaltestelle etc. Bitte unterscheide Hauptverkehrszeit / Nebenzeiten.
   z.B. "Die Busse verlangsamen an der Stelle ohnehin wegen einer Bushaltestelle/der abbiegenden Buslinie ihre Fahrt."
  </mat-hint>
</mat-form-field>
<div class="t30-full-width">
  <button mat-raised-button matTooltip="Diesen Straßenabschnitt löschen" (click)="onDeleteStrassenAbschnitt()" type="submit">
    Diesen Straßenabschnitt löschen <mat-icon>delete</mat-icon>
  </button>
</div>
</div>
</mat-expansion-panel>
