<div class="hgroup" >
  <h1>Anmelden</h1>
  <h3>ADFC Tempo 30 vor sozialen Einrichtungen</h3>
</div>
<p class="enterData" *ngIf="(!isDefaultReturnUrl())">Danke, dass du dich an unserer Kamapagne "Tempo 30 an sozialen Einrichtungen"
beteiligen möchtest. Damit wir sicher gehen können, dass die Tempo-30-Forderungen
oder die Änderungen zu einer Einrichtung ernsthaft sind, bitten wir dich,
dich einzuloggen bzw. dich erst zu registrieren.</p>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <input matInput type="email" placeholder="E-Mail" autocomplete="email" formControlName="email" required>
  </mat-form-field>
    <mat-form-field *ngIf="!passwordResend">
      <input matInput type="password" placeholder="Passwort" autocomplete="current-password" formControlName="password" required>

  </mat-form-field>
  <mat-form-field *ngIf="passwordResend">
    <input matInput type="password" placeholder="Neues Passwort eingeben" autocomplete="current-password" formControlName="password1" required>
    <mat-error class="error-message" *ngIf="checkValidateError('password1', 'required')">Passwort erforderlich</mat-error>
    <mat-error class="error-message" *ngIf="checkValidateError('password1', 'minlength')">Passwort zu kurz</mat-error>
  </mat-form-field>
    <mat-form-field *ngIf="passwordResend">
      <input matInput type="password" placeholder="Passwort wiederholung" autocomplete="current-password" formControlName="password2" required>
      <mat-error class="error-message"  *ngIf="checkValidateError('password2', 'notMatched')"><mat-icon>warning</mat-icon>Passwörter sind nicht identisch.</mat-error>

  </mat-form-field>
  <mat-checkbox formControlName="passwordResend">
    Ich habe mein Passwort vergessen.
  </mat-checkbox>
  <mat-action-row>
    <button mat-raised-button color="primary" type="submit">
      <mat-icon>send</mat-icon> Anmelden
      </button>
      <button mat-raised-button colort="accent" routerLink="/register"><mat-icon>person_add</mat-icon>Registrieren</button>
  </mat-action-row>
  <mat-spinner *ngIf="loading"> </mat-spinner>
</form>