<h2>{{ einrichtung.name}} {{einrichtung.zusatz || '' }} {{ ART_STR[einrichtung.art] }}</h2>
<div class="block">
  <div class="line">
    <div class="key">Name:</div>
    <div class="value">{{ einrichtung.name}} {{einrichtung.zusatz || '' }}</div>
  </div>
  <div class="line">
    <div class="key">Art:</div>
    <div class="value">{{ ART_STR[einrichtung.art] }}</div>
  </div>
  <div class="line">
    <div class="key">Anschrift:</div>
    <div class="value">{{einrichtung.strasse}}, {{einrichtung.plz}} {{einrichtung.ort}}</div>
  </div>
  <yaga-map class="t30-map" zoom="17" [(lat)]="mapLat" [(lng)]="mapLon">
    <yaga-tile-layer [(url)]="tileLayerUrl"></yaga-tile-layer>
    <yaga-zoom-control></yaga-zoom-control>
    <yaga-marker [(lat)]="newLat" [(lng)]="newLon">
      <yaga-icon iconUrl="assets/marker-icon.png" shadowUrl="assets/marker-shadow.png" [(iconSize)]="marker.iconSize" [(iconAnchor)]="marker.iconAnchor" [(popupAnchor)]="marker.popupAnchor" [(tooltipAnchor)]="marker.tooltipAnchor" [(shadowSize)]="marker.shadowSize"></yaga-icon>
    </yaga-marker>
  </yaga-map>
  <h2>Angrenzende Straßen mit Haupteingang oder An- und Abreiseverkehr zur Einrichtung</h2>
  <p>Hier kannst du für die einzelnen Straßenabschnitte jeweils eine Tempo-30-Forderungsmail an das zuständige Polizeikommissariat generieren, wenn diese im Bereich "Bearbeiten (Button)" mit dem Status "Hier fehlt Tempo 30" markiert wurden.</p>
  <div *ngFor="let abschnitt of einrichtung.angrenzendeStrassen; let i = index;">
    <h3>{{ abschnitt.name}} Hausnummer {{ abschnitt.von }} bis {{ abschnitt.bis}}</h3>
    <div class="tblock">
      <div class="line">
        <div class="key">Status:</div>
        <div class="value">{{ STATUS[abschnitt.status] }}</div>
      </div>
      <div class="line">
        {{abschnitt.anmerkung}}
      </div>
      <div class="line">
        <div class="key">Busverkehr:</div>
        <div class="value">{{ BUSVERKEHR[abschnitt.busverkehr] }}</div>
      </div>
      <div class="line" *ngIf="abschnitt.buslinien">
        <div class="key">Buslinien:</div>
        <div class="value">{{ abschnitt.buslinien }}</div>
      </div>
      <div class="line">
        {{abschnitt.anmerkung_bus}}
      </div>
      <button mat-raised-button matTooltip="Ich möchte hier Tempo 30 fordern." routerLink="/forderung/edit/{{abschnitt.id}}" type="submit">
        Tempo 30 fordern:
        <mat-icon>mail</mat-icon>
        <mat-icon>arrow_forward</mat-icon>
        <mat-icon>sentiment_satisfied_alt</mat-icon>
      </button>
    </div>
  </div>
  <div *ngIf="(!einrichtung.keineWeiterenStrassen)">
    <mat-icon color="warn">warning</mat-icon> Fehlen noch andere Straßenabschnitte? Bitte bearbeiten und vervollständigen oder als vollständig markieren!
  </div>
  <div *ngIf="(einrichtung.keineWeiterenStrassen)">
    <mat-icon>done</mat-icon>Weitere Straßenabschnitte ohne Tempo 30 sind uns nicht bekannt.
  </div>
</div>
<button mat-raised-button matTooltip="Einrichtung bearbeiten oder Fehler korrigieren" routerLink="/einrichtung/edit/{{id}}" type="submit">
  Bearbeiten <mat-icon>edit</mat-icon>
</button>
