<h2 class="mat-h2">Übersicht zu: {{ einrichtung.name}} {{ einrichtung.type |einrichtungsart }}</h2>
<div class="block">
  <div class="line">
    <div class="key">Name:</div>
    <div class="value">{{ einrichtung.name}}</div>
  </div>
  <div class="line">
    <div class="key">Status:</div>
    <div class="value">
      <span [matTooltip]="einrichtung.status | t30StatusLongText">
        <img class="starImg" widht="20" height="20" [src]="einrichtung.status | t30StatusStarSvgUrl">
      </span>
      {{LEGENDE_TEXT[einrichtung.status]}}
    </div>
  </div>
  <div class="line">
    <div class="key">Art:</div>
    <div class="value">{{ einrichtung.type |einrichtungsart }}</div>
  </div>
  <div *ngIf="einrichtung.type ==1 " class="line">
    <div class="key">Träger:</div>
    <div class="value">{{ getKitaTaeger(einrichtung.company) }}</div>
  </div>
  <div class="line">
    <div class="key">Anschrift:</div>
    <div class="value">{{einrichtung.street_house_no}}, {{einrichtung.zip}} {{einrichtung.city}}</div>
  </div>
  <yaga-map class="t30-map" zoom="17" [(lat)]="mapPos[1]" [(lng)]="mapPos[0]">
    <yaga-tile-layer [(url)]="tileLayerUrl"></yaga-tile-layer>
    <yaga-zoom-control></yaga-zoom-control>
    <yaga-marker [(lat)]="position[1]" [(lng)]="position[0]">
      <yaga-icon iconUrl="assets/marker-icon.png" shadowUrl="assets/marker-shadow.png" [(iconSize)]="marker.iconSize" [(iconAnchor)]="marker.iconAnchor" [(popupAnchor)]="marker.popupAnchor" [(tooltipAnchor)]="marker.tooltipAnchor" [(shadowSize)]="marker.shadowSize"></yaga-icon>
    </yaga-marker>
  </yaga-map>
  <h2 class="mat-h2">Diese Angaben liegen zur Meldeadresse der Einrichtung vor. Sie stammen, wenn nicht anders angegeben, vom Hamburger Senat.</h2>
  <pre>{{einrichtung.by_the_records}}</pre>
  <h2 class="mat-h2">Straßenabschnitte mit Haupteingang oder An- und Abreiseverkehr im näheren Umfeld der Einrichtung</h2>
  <p>Von hier aus kannst du für die einzelnen Straßenabschnitte jeweils eine Tempo-30-Forderungsmail an das zuständige Polizeikommissariat generieren, wenn diese im Bereich "Bearbeiten" mit dem Status "Hier fehlt Tempo 30" markiert wurden.</p>
  <div *ngIf="streetSectionList.filteredData.length===0">
    <b>Es wurden bisher keine Straßenabschnitte zur Einrichtung gespeichert.
      Bitte ergänze Straßenabschnitte unter "Bearbeiten".</b>
  </div>
  <table *ngIf="streetSectionList.filteredData.length>0" mat-table [dataSource]="streetSectionList" class="mat-elevation-z8">
    <ng-container matColumnDef="abschnitt">
      <th mat-header-cell *matHeaderCellDef>Abschnitt</th>
      <td mat-cell *matCellDef="let sec">{{ sec.street}} Hausnummer {{ sec.house_no_from }} bis {{ sec.house_no_to}}</td>
    </ng-container>
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let sec">{{ STATUS[sec.status] }} {{ sec.user_note }}</td>
    </ng-container>
    <ng-container matColumnDef="spuren">
      <th mat-header-cell *matHeaderCellDef>KFZ-Spuren</th>
      <td mat-cell *matCellDef="let sec">{{ sec.multilane |spurigkeit }}</td>
    </ng-container>
    <ng-container matColumnDef="bus">
      <th mat-header-cell *matHeaderCellDef>Bus</th>
      <td mat-cell *matCellDef="let sec">{{ sec.much_bus_traffic | busverkehr }}<br>
        <span *ngIf="sec.bus_lines !=''">Linien: {{ sec.bus_lines}}</span>
        {{ sec.reason_slower_buses }}
      </td>
    </ng-container>
    <ng-container matColumnDef="history">
      <th mat-header-cell *matHeaderCellDef>Vorgeschichte</th>
      <td mat-cell *matCellDef="let sec">{{ sec.progress_report }}</td>
    </ng-container>
    <ng-container matColumnDef="button">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let sec">
        <button *ngIf="(sec.status==3)" mat-raised-button matTooltip="Ich möchte hier Tempo 30 fordern." routerLink="/forderung/edit/{{sec.id}}" type="submit">
          Tempo 30 fordern
          <mat-icon>mail</mat-icon>
          <mat-icon>arrow_forward</mat-icon>
          <mat-icon>sentiment_satisfied_alt</mat-icon>
        </button>
        <button *ngIf="(sec.mail_sent)" mat-raised-button matTooltip="Mail ansehen" routerLink="/forderung/view/{{sec.id}}" type="submit">
          Hier wurde Tempo 30 gefordert
          <mat-icon>mail</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <div *ngIf="(!einrichtung.streetsection_complete)">
    Hier fehlen noch Straßenabschnitte. Wir suchen Freiwillige mit Ortskenntnissen.
  </div>
</div>
<p>Angaben zur Einrichtung oder Straßenabschnitten in deren Umfeld ändern oder hinzufügen:</p>
<button mat-raised-button matTooltip="Einrichtung bearbeiten oder Fehler korrigieren" routerLink="/einrichtung/edit/{{id}}" type="submit">
  Bearbeiten <mat-icon>edit</mat-icon>
</button>
