<h2>{{ einrichtung.name}} {{ einrichtung.type |einrichtungsart }}</h2>
<div class="block">
  <div class="line">
    <div class="key">Name:</div>
    <div class="value">{{ einrichtung.name}}</div>
  </div>
  <div class="line">
    <div class="key">Art:</div>
    <div class="value">{{ einrichtung.type |einrichtungsart }}</div>
  </div>
  <div class="line">
    <div class="key">Anschrift:</div>
    <div class="value">{{einrichtung.street_house_no}}, {{einrichtung.zip}} {{einrichtung.city}}</div>
  </div>
  <yaga-map class="t30-map" zoom="17" [(lat)]="mapPos[1]" [(lng)]="mapPos[0]">
    <yaga-tile-layer [(url)]="tileLayerUrl"></yaga-tile-layer>
    <yaga-zoom-control></yaga-zoom-control>
    <yaga-marker [(lat)]="position[1]" [(lng)]="position[0]">
      <yaga-icon iconUrl="assets/marker-icon.png" shadowUrl="assets/marker-shadow.png" [(iconSize)]="marker.iconSize" [(iconAnchor)]="marker.iconAnchor" [(popupAnchor)]="marker.popupAnchor" [(tooltipAnchor)]="marker.tooltipAnchor" [(shadowSize)]="marker.shadowSize"></yaga-icon>
    </yaga-marker>
  </yaga-map>
  <h2>Angrenzende Straßen mit Haupteingang oder An- und Abreiseverkehr zur Einrichtung</h2>
  <p>Hier kannst du für die einzelnen Straßenabschnitte jeweils eine Tempo-30-Forderungsmail an das zuständige Polizeikommissariat generieren, wenn diese im Bereich "Bearbeiten (Button)" mit dem Status "Hier fehlt Tempo 30" markiert wurden.</p>
  <div *ngFor="let sec of streetSections; let i = index;">
    <h3>{{ sec.street}} Hausnummer {{ sec.house_no_from }} bis {{ sec.house_no_to}}</h3>
    <div class="tblock">
      <div class="line">
        <div class="key">Status:</div>
        <div class="value">{{ STATUS[sec.status] }}</div>
      </div>
      <div class="line">
        {{sec.user_note}}
      </div>
      <div class="line">
        <div class="key">KFZ Spuren pro Fahrtrichtung:</div>
        <div class="value">{{ sec.multilane |spurigkeit }}</div>
      </div>
      <div class="line">
        <div class="key">Busverkehr:</div>
        <div class="value">{{ sec.much_bus_traffic | busverkehr }}</div>
      </div>
      <div class="line" *ngIf="sec.buslinien">
        <div class="key">Buslinien:</div>
        <div class="value">{{ sec.bus_lines}}</div>
      </div>
      <div class="line">
        {{sec.reason_slower_buses}}
      </div>
      <div class="line">
        {{sec.progress_report}}
      </div>
      <button *ngIf="(sec.status==3)" mat-raised-button matTooltip="Ich möchte hier Tempo 30 fordern." routerLink="/forderung/edit/{{sec.id}}" type="submit">
        Tempo 30 fordern:
        <mat-icon>mail</mat-icon>
        <mat-icon>arrow_forward</mat-icon>
        <mat-icon>sentiment_satisfied_alt</mat-icon>
      </button>
      <button *ngIf="(sec.mail_sent)" mat-raised-button matTooltip="Mail ansehen" routerLink="/forderung/view/{{sec.id}}" type="submit">
        Hier wurde Tempo 30 gefordert
        <mat-icon>mail</mat-icon>
      </button>
    </div>
  </div>
  <div *ngIf="(!einrichtung.streetsection_complete)">
   Fehlen noch andere Straßenabschnitte? Bitte bearbeiten und vervollständigen oder als vollständig markieren!
  </div>
</div>
<p>Angaben zur Einrichtung oder deren angrenzenden Straßenabschnitten ändern oder hinzufügen:</p>
<button mat-raised-button matTooltip="Einrichtung bearbeiten oder Fehler korrigieren" routerLink="/einrichtung/edit/{{id}}" type="submit">
  Bearbeiten <mat-icon>edit</mat-icon>
</button>
