<h1>{{ title }}</h1>
<h3 *ngIf="isLoggedIn()">Tipps zur Anwendung:</h3>
<ol *ngIf="isLoggedIn()">
  <li>Check der sozialen Einrichtung: Bitte wähle die Einrichtung über die Suchfunktion,
    die Liste oder die Karte aus und klicke "Bearbeiten". Gibt dort alle angrenzenden
    Straßen mit Haupteingang oder
    An- und Abreiseverkehr zur Einrichtung mit dem jeweiligen Tempo-30-Status ein.</li>
  <li>Tempo 30 für eine Einrichtung fordern bei Klick auf "Details".</li>
</ol>
<nav mat-tab-nav-bar *ngIf="isLoggedIn()">
   <a mat-tab-link
     *ngFor="let link of myNavLinks"
     [routerLink]="link.path"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive"
     [ngClass]="{'adfc-t30-tab-extra': link.extra }">

      {{ link.label }} &nbsp; <mat-icon *ngIf="link.icon!==undefined">{{ link.icon }}</mat-icon>
  </a>
</nav>

<router-outlet></router-outlet>
<hr>
Dieses Webtool hilft dir, Forderungsmails für Tempo 30 an Straßenabschnitten, die an Hamburger
sozialen Einrichtungen liegen, an das zuständige Polizeikommissariat zu verfassen. Das Webtool
ist Teil der Kampagne des ADFC Hamburg
<a target="_blank" href="https://hamburg.adfc.de/tempo30sozial">Tempo 30 an sozialen Einrichtungen</a>.
<hr>
Version: {{ version }}
