a.adfc-t30-tab-extra {
  color: darkGray;
}
.header {
  width: 100%;
  margin-top: 30px;
  margin-left: 40px;
  display: inline-block;
}
.links {
  width: 40%;
  display: block;
}
.rechts {
  width: 50%;
  display: block;
}
img.t30-herz {
  height: 94px;
  width: 133px;
  float: right;
  margin-right: 100px;
}
img.adfc-logo {
  height: 94px;
  width: 250px;
  float: left;
  margin-bottom: 20px;
}
h1 {
  font-family: inherit;
  font-weight: 550;
  line-height: 1.1;
  color: #2c4574;
  display: inline-block;
  padding-left: 20px;
}
.alert {
    background-color: #e45555;
    padding: 20px;
    color: white;
    margin-bottom: 15px;
    text-align: center;
}
a.footer-link {
  display: inline-block;
  margin-right: 3em;
  width: 30%;
}
