<h1>{{ title }}</h1>
<mat-card *ngIf="isLoggedIn() && showHint">
  <mat-card-title>Tipps zur Anwendung:</mat-card-title>
<mat-card-content>
  <ol>
   <li>Check der sozialen Einrichtung: Bitte wähle die Einrichtung über die Suchfunktion,
    die Liste oder die Karte aus und klicke "Bearbeiten". Gibt dort alle angrenzenden
    Straßen mit Haupteingang oder
    An- und Abreiseverkehr zur Einrichtung mit dem jeweiligen Tempo-30-Status ein.</li>
  <li>Tempo 30 für eine Einrichtung fordern bei Klick auf "Details".</li>
  <li>Soziale Einrichtungen, die hier noch nicht aufgeführt sind, können über den
    entsprechenden Button bei der Liste oder der Karte der sozialen Einrichtungen
    hinzugefügt werden.</li>
  <li>Jede Nebenstelle einer Einrichtung (z. B. Turnhalle, Mensa, Zweigstelle)
    mit einer eigenen Adresse muss als eigene soziale Einrichtung angelegt werden.</li>
</ol>
</mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="showHint=false;"><mat-icon>close</mat-icon> Diesen Hinweis nicht mehr anzeigen</button>
  </mat-card-actions>
</mat-card>
<button *ngIf="isLoggedIn() && showHint===false" mat-raised-button (click)="showHint=true;"><mat-icon>help</mat-icon> Tipps zur Anwendung</button>
<nav mat-tab-nav-bar *ngIf="isLoggedIn()">
   <a mat-tab-link
     *ngFor="let link of myNavLinks"
     [routerLink]="link.path"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive"
     [ngClass]="{'adfc-t30-tab-extra': link.extra }">

      {{ link.label }} &nbsp; <mat-icon *ngIf="link.icon!==undefined">{{ link.icon }}</mat-icon>
  </a>
</nav>

<router-outlet></router-outlet>
<hr>
Dieses Webtool hilft dir, Forderungsmails für Tempo 30 an Straßenabschnitten, die an Hamburger
sozialen Einrichtungen liegen, an das zuständige Polizeikommissariat zu verfassen. Das Webtool
ist Teil der Kampagne des ADFC Hamburg
<a target="_blank" href="https://hamburg.adfc.de/tempo30sozial">Tempo 30 an sozialen Einrichtungen</a>.
<hr>
Version: {{ version }}