<h1 class="mat-h1">Forderungsmail verfassen für einen Straßenabschnitt im Umfeld dieser Einrichtung:</h1>
<h2 class="mat-h2">{{ einrichtung.type |einrichtungsart }} {{ einrichtung.name}}</h2>
<div [formGroup]="forderungFG">
  <p *ngIf="aktionsData.reached === false">
    <mat-icon *ngIf="isPasswordOkay==0" color="warn">warning</mat-icon>
    Der ADFC hat mit der Hamburger Elternkammer (Schulen) und dem Landeselternausschuss (Kitas) vereinbart, dass zunächst nur
    zur jeweiligen Schule/ Kita Gehörige die Tempo-30-Forderungen stellen sollen.
    Daher können die Tempo-30-Forderungen für Schulen und Kitas bis zum {{ aktionsData.until |date:'dd.MM.yyyy' }}
    nur nach Eingabe des richtigen Stichworts gestellt werden. Dies erhälst du
    bei dem Elternrat der Schule oder der Elternvertretung bzw. Leitung der Kita.<br>
    Du kannst die E-Mail auch ohne Stichwort speichern, aber noch nicht absenden.
  </p>
  <mat-form-field class="t30-full-width" *ngIf="aktionsData.reached === false">
    <input matInput placeholder="Stichwort" formControlName="password" (input)="onPasswordChange($event.target.value)">
    <mat-icon *ngIf="isPasswordOkay!=0" matSuffix class="green-icon">check</mat-icon>
    <mat-icon *ngIf="isPasswordOkay==0" matSuffix color="warn">close</mat-icon>
  </mat-form-field>
  <p>Wir empfehlen, vor dem Versand der E-Mail, die Einrichtung über dein Vorhaben zu informieren und mit ihr Rücksprache zu halten. Danke.</p>
  <p>Bitte prüfe zunächst die folgenden Angaben:</p>
  <div class="line">
    <div class="key">Name:</div>
    <div class="value">{{ einrichtung.name}}</div>
  </div>
  <div class="line">
    <div class="key">Art:</div>
    <div class="value">{{ einrichtung.type |einrichtungsart }}</div>
  </div>
  <div class="line">
    <div class="key">Anschrift:</div>
    <div class="value">{{einrichtung.street_house_no}}, {{einrichtung.zip}} {{einrichtung.city}}</div>
  </div>
  <div class="line">
    <div class="key">Straßenabschnitt:</div>
    <div class="value">{{ streetSection.street}} Hausnummern: {{streetSection.house_no_from}} bis {{streetSection.house_no_to}}</div>
  </div>
  <div class="line">
    <div class="key">Forderungsgrund:</div>
    <div class="value">{{ HAUPTEINGANG[streetSection.entrance] }}</div>
  </div>
  <div class="line">
    <div class="key">Gründe für Tempo 30:</div>
    <div class="value">{{ streetSection.user_note }}</div>
  </div>
  <div class="line">
    <div class="key">Anzahl Spuren:</div>
    <div class="value">{{ streetSection.multilane | spurigkeit }}</div>
  </div>
  <div class="line">
    <div class="key">Busverkehr:</div>
    <div class="value">{{ streetSection.much_bus_traffic |busverkehr }}</div>
  </div>
  <div class="line">
    <div class="key">Buslinien:</div>
    <div class="value">{{streetSection.bus_lines}}</div>
  </div>
  <div class="line">
    <div class="key">Anmerkungen zum Busverkehr:</div>
    <div class="value">{{ streetSection.reason_slower_buses }}</div>
  </div>
  <div class="headline">Vorgeschichte:</div>
  <div class="value">{{ streetSection.progress_report}}</div>
  <br>
  <mat-radio-group class="tp-radio-group" formControlName="geprueft" aria-label="Bitte prüfe die obigen Angaben">
    <mat-radio-button class="tp-radio-button" value="2">Ja, alles ist korrekt.</mat-radio-button>
    <mat-radio-button class="tp-radio-button" value="1">Ich möchte etwas korrigieren.</mat-radio-button>
  </mat-radio-group>
  <div *ngIf="(forderungFG.get('geprueft').value==='1')">
    <mat-icon color="warn">warning</mat-icon> Bitte korrigiere zunächst die Angaben:
    <button mat-raised-button matTooltip="Einrichtung bearbeiten oder Fehler korrigieren" (click)="routeEdit()" type="submit">
      <mat-icon>edit</mat-icon>
    </button>
    und dann hierher zurückkehren.
    <hr>
    <button mat-raised-button matTooltip="Einrichtung ansehen" (click)="routeBack()" type="submit">
      <mat-icon>undo</mat-icon> zurück
    </button>
    <hr>
  </div>
  <div *ngIf="(forderungFG.get('geprueft').value==='2')">
    <mat-form-field class="t30-full-width">
      <input matInput placeholder="Welchen Bezug hast du zur Einrichtung? (Schülerin, Nachbar, Leiterin, Angehörige, Mitarbeiter...)" formControlName="bezugZurEinrichtung">
    </mat-form-field>
    <hr>
    <div class="email">
      <h2 class="mat-h2">Forderungsmail an zuständiges Polizeikommissariat</h2>
      <p>Wir stellen einen Formulierungsvorschlag für die E-Mail zur Verfügung. Darin werden automatisch Angaben zur Einrichtung,
        zum Straßenabschnitt und Teile deiner Kontaktdaten übernommen. Du kannst die übernommenen Angaben, den Betreff und den
        Text direkt hier ändern und den Entwurf speichern oder die E-Mail gleich versenden. Nach dem Versand werden Passagen
        der E-Mail ohne personenbezogenen Daten archiviert und in diesem Tool öffentlich sichtbar.</p>
      <div>Die E-Mailadresse des zuständigen Polizeikommissariats wird automatisch anhand der Adresse der sozialen Einrichtung ermittelt.</div>
      <p>Anonyme Mails an die Polizei sind nicht möglich. Wir setzen deine bei der Registrierung angegebene E-Mailadresse in CC und bitten im E-Mailtext die Polizei, an deine E-Mailadresse zu antworten.
      <mat-form-field class="t30-full-width">
        <input matInput placeholder="Von" matTooltip="Der Absender wird automatisch aus deinen Registrierungsdaten erzeugt und ist nicht änderbar." readonly="true" value="&lt;bitte-nicht-antworten-t30f@tools.adfc-hamburg.de&gt;">
      </mat-form-field>
      <mat-form-field class="t30-full-width">
        <input matInput placeholder="An" matTooltip="Der Empfänger wird automatisch anhand der Postion der Einrichtung ermittelt und ist nicht änderbar." readonly="true" value="Polizei {{ polizeiData.name }} &lt;{{ polizeiData.email }}&gt;">
      </mat-form-field>
      <mat-form-field class="t30-full-width">
        <input matInput placeholder="CC" matTooltip="Wir möchten eine Kopie deiner E-Mail." readonly="true" value="{{ currentUser.firstName }} {{ currentUser.lastName  }} &lt;{{ currentUser.user }}&gt;, ADFC Hamburg &lt;{{ CONTACT_MAIL }}&gt;">
      </mat-form-field>
      <div *ngIf="forderungFG.get('mailSend').value">
        <mat-icon>report</mat-icon><b>Die E-Mail wurde bereits verschickt und kann nicht mehr bearbeitet werden</b>
      </div>
      <mat-form-field class="t30-full-width">
        <input matInput placeholder="Betreff" formControlName="mail_subject">
      </mat-form-field>
      <mat-form-field class="t30-full-width">
        <textarea class="t30-emailstart-area" readonly=true matInput placeholder="Hinweis (nicht editierbar)">Diese E-Mail wurde mit Hilfe des Online-Tools "Tempo 30 an sozialen Einrichtungen" des ADFC Hamburg verschickt. Bitte senden Sie Ihre Antwort auf das Gesuch an {{ currentUser.user }} und {{ CONTACT_MAIL }}.</textarea>
      </mat-form-field>
      <mat-form-field class="t30-full-width">
        <textarea class="t30-emailstart-area" matInput formControlName="mail_start" placeholder="Begrüßungsteil der E-Mail (wird an die Polizei geschickt, aber nicht veröffentlicht)">
        </textarea>
      </mat-form-field>
      <mat-form-field class="t30-full-width">
        <textarea class="t30-email-area" matInput formControlName="mail_body" placeholder="Haupttext der E-Mail (wird veröffentlicht, bitte hier keine personenbezogenen Daten angeben)">
   </textarea>
      </mat-form-field>
      <mat-form-field class="t30-full-width">
        <textarea class="t30-emailend-area" matInput formControlName="mail_end" placeholder="Grußformel und Absender (wird an die Polizei geschickt, aber nicht veröffentlicht)">
  </textarea>
      </mat-form-field>
      <p>
        Diese E-Mail wird unter Angabe Deiner E-Mailadresse als Antwort-E-Mailadresse an das für die
        Einrichtung zuständige Polizeikommissariat übermittelt. Dein Name und deine
        Adresse werden ebenfalls als Absenderinformation in die E-Mail übernommen,
        sofern du sie im Profil angegeben hast und nicht aus der E-Mail gelöscht hast.
        Durch Klick auf "Speichern und E-Mail absenden" stimmst Du diesem Vorgang zu.
      </p>
      <mat-action-row>
        <button mat-raised-button *ngIf="!(forderungFG.get('mailSend').value)" color="primary" (click)="onSave(false)">
          <mat-icon>save</mat-icon> Speichern und später weiter bearbeiten
        </button>
        <span matTooltip="Bitte gib das Aktionskennwort (s.o.) ein um die Forderung zu verschicken." [matTooltipDisabled]="(this.isPasswordOkay!=0)">
          <button mat-raised-button *ngIf="!(forderungFG.get('mailSend').value)" color="accent" (click)="onSave(true)"  [disabled]="(this.isPasswordOkay==0)">
            <mat-icon>email</mat-icon> Speichern und E-Mail Absenden
          </button>
        </span>
      </mat-action-row>
    </div>
  </div>
</div>
