.t30-map {
    width: 100%;
    height: 300px;
}


.t30-full-width {
  width: 100%;
}
.line {
  width: 100%;
}
.headline {
  font-weight: bold;
}
.key {
  display: inline-block;
  font-weight: bold;
  width: 10em;
}
.value {
    display: inline-block;
  }

.t30-half-width {
  width: 50%;
}
.t30-emailstart-area {
    height: 60px;
}
.t30-email-area {
    height: 400px;
}
.t30-emailend-area {
    height: 200px;
}
.t30-yes {
  color: green;
}
textarea#standDerDinge {
  height: 130px;
}
.tp-radio-group {
   display: inline-flex;
   flex-direction: column;
}
.tp-radio-button {
   margin: 5px;
}
.email {
  background-color: #f0f0f0;
  border-style:solid;
  border-width: thin;
  border-color: #d0d0d0;
  box-shadow: 5px 1px 1px #e0e0e0;
  margin-right: 10px;
  padding: 30px;
}
.email textarea {
  background-color: white;
  border-raidus: 5px;
  border-style: solid;
  border-color: #f0f0f0;
  border-bottom-width: 20px;
}
.email input {
  background-color: white;
  border-raidus: 5px;
  border-style: solid;
  border-color: #f0f0f0;
  border-bottom-width: 20px;
.green-icon {
    color: green;
}
.green-icon svg {
    fill: green;
}
