.t30-map {
    width: 100%;
    height: 300px;
}


.t30-full-width {
  width: 100%;
}
.line {
  width: 100%;
}
.headline {
  font-weight: bold;
}
.key {
  display: inline-block;
  font-weight: bold;
  width: 10em;
}
.value {
    display: inline-block;
  }

.t30-half-width {
  width: 50%;
}
.t30-emailstart-area {
    height: 60px;
}
.t30-email-area {
    height: 400px;
}
.t30-emailend-area {
    height: 200px;
}
.t30-yes {
  color: green;
}
textarea#standDerDinge {
  height: 130px;
}
.tp-radio-group {
   display: inline-flex;
   flex-direction: column;
}
.tp-radio-button {
   margin: 5px;
}
.green-icon {
    color: green;
}
.green-icon svg {
    fill: green;
}
