<h2>DANKE, Widerstand ist nicht umsonst!</h2>
<p>
  Vielen Dank für Deinen Beitrag zu mehr Tempo 30 in Hamburg.
</p>
<p>
  Wir würden gerne Zusammen mit Dir unsere Kampange weiter ausbauen:
  <ul>
    <li>Presse und Öffentlichkeitsarbeit</li>
    <li>Sitzungen des Verkehrsausschusses beobachten</li>
    <li>Uns besser mit allen vernetzen die Tempo 30 in der Stadt fordern</li>
    <li>Das Online-Tool verbssern</li>
    <li>Juristisch gegen Tempo 50 vorgehen</li>
    <li>..... </li>
  </ul>
  <h3>Für all das brauchen wir neben vielen ehrenamtlichen auch Geld.</h3>

  Unterstütze jetzt unsere Arbeit mit deiner Spende!

<h3>Mitglied werden</h3>

<p>Ganz besonderes freuen wir uns, wenn du Mitglied im ADFC werden möchtest.
   Als Mitglied&nbsp;unterstützt du mit deinem Beitrag unsere politische Arbeit
    für das Fahrrad – damit&nbsp;das Radfahren im Alltag und auf Reisen noch
    sicherer und komfortabler wird. Du förderst das Radfahren als eine attraktive
    Alternative zur Autofahrt – mit Spaß, Entspannung und Gesundheitsvorsorge
    für den Einzelnen und mehr Lebensqualität und Klimaschutz für alle.
</p>
<a href="https://www.adfc.de/sei-dabei/mitglied-werden" title="Opens internal link in current window" target="_blank" class="external-link-new-window">Jetzt Mitglied werden</a>
&nbsp;|&nbsp;<a href="https://www.adfc.de/sei-dabei/verschenkerin-werden" target="_blank">Beitrittsformular für Geschenkmitgliedschaft</a>
&nbsp;|&nbsp;<a href="https://www.adfc.de/sei-dabei/foerdermitglied-werden" title="Öffnet externen Link in neuem Fenster" target="_blank" class="external-link-new-window">Beitrittsformular für Fördermitglieder</a>


<h3>Überweisung</h3>
<pre>
  Empfänger: ADFC Hamburg
  Bank: GLS Gemeinschaftsbank eG
  IBAN: DE80 4306 0967 2029 4456 00
  BIC: GENODEM1GLS
</pre>
<p>Bitte gib bei einer Spende im Verwendungszweck das Wort »Spende« und deine Adresse an.</p>

<p>Bei Spenden bis zu 200 € benötigst du gegenüber dem Finanzamt lediglich deinen Kontoauszug, um diese in der Steuererklärung geltend zu machen. Bei größeren Spenden erhälst du eine Spendenquittung.</p>


<h3>Spende per Lastschrift oder Paypal</h3>
Möchtest du lieber per Lastschrift oder Paypal Spenden, besuche bitte unsere
<a href="https://hamburg.adfc.de/spende/" target="_blank" rel="noopener" class="footer-link">allgemeine Spendenseite des Landsverbands.</a>
