<h2 class="mat-h2">Mein Profil</h2>
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <mat-form-field class="t30-half-width">
          <input matInput placeholder="Vorname" formControlName="firstName" autocomplete="given-name" required>
          <mat-error class="error-message" *ngIf="checkValidateError('firstName', 'required')">Vorname erforderlich</mat-error>
        </mat-form-field>
        <mat-form-field class="t30-half-width">
          <input matInput placeholder="Nachname" formControlName="lastName" autocomplete="family-name" required>
          <mat-error class="error-message" *ngIf="checkValidateError('lastName', 'required')">Nachname erforderlich</mat-error>
        </mat-form-field>
        <mat-form-field class="t30-full-width">
          <input matInput placeholder="E-Mail" type="email" formControlName="user" autocomplete="email" required readonly=true>
          <mat-error class="error-message" *ngIf="checkValidateError('user', 'required')">E-Mail erforderlich</mat-error>
          <mat-error class="error-message" *ngIf="checkValidateError('user', 'email')">ungültige E-Mail</mat-error>
        </mat-form-field>
        <mat-checkbox formControlName="change_pw">
          Ich möchte mein Passwort ändern
        </mat-checkbox>
        <mat-form-field class="t30-full-width">
          <input matInput placeholder="Neues Passwort" type="password" formControlName="password1" autocomplete="new-password" required>
          <mat-error class="error-message" *ngIf="checkValidateError('password1', 'required')">Passwort erforderlich</mat-error>
          <mat-error class="error-message" *ngIf="checkValidateError('password1', 'minlength')">Passwort zu kurz</mat-error>
        </mat-form-field>
        <mat-form-field class="t30-full-width">
          <input matInput placeholder="Neues Passwort wiederholen" type="password" formControlName="password2" autocomplete="new-password" required>
          <mat-error class="error-message"  *ngIf="checkValidateError('password2', 'notMatched')"><mat-icon>warning</mat-icon>Passwörter sind nicht identisch.</mat-error>
        </mat-form-field>
        <mat-form-field class="t30-full-width">
          <input matInput placeholder="Straße und Hausnummer" formControlName="street_house_no" autocomplete="street-address">
          <mat-error class="error-message" *ngIf="checkValidateError('street_house_no', 'minlength')">zu kurz</mat-error>
        </mat-form-field>
        <mat-form-field class="t30-half-width">
          <input matInput placeholder="PLZ" formControlName="zip" autocomplete="postal-code">
          <mat-error class="error-message" *ngIf="checkValidateError('zip', 'pattern')">PLZ besteht aus 5 Ziffern</mat-error>
        </mat-form-field>
        <mat-form-field class="t30-half-width">
          <input matInput placeholder="Ort" formControlName="city" autocomplete="address-level1">
          <mat-error class="error-message" *ngIf="checkValidateError('city', 'minlength')">zu kurz</mat-error>
        </mat-form-field>
        <mat-form-field class="t30-full-width">
          <input matInput placeholder="Telefon" formControlName="phone" autocomplete="tel">
          <mat-error class="error-message" *ngIf="checkValidateError('phone', 'minlength')">zu kurz</mat-error>
          <mat-error class="error-message" *ngIf="checkValidateError('phone', 'pattern')">unerlaubte Zeichen</mat-error>
        </mat-form-field>

        <mat-action-row>
          <button mat-raised-button color="primary" type="submit" [disabled]="!(profileForm.get('save').value)">
            <mat-icon>save</mat-icon> Speichern
          </button>
          <button mat-raised-button color="basic" (click)="openMailinglist()">
            <mat-icon>email</mat-icon> Mailingliste verwalten
          </button>

          <button mat-raised-button color="warn"  (click)="deleteProfile()">
            <mat-icon>delete_forever</mat-icon> Profil Löschen
            </button>
      </mat-action-row>
      <mat-spinner *ngIf="loading"> </mat-spinner>
      </div>
  </form>
