<h2 class="mat-h2">Angaben zur Einrichtung ändern oder ergänzen</h2>
<div [formGroup]="einrichtung">
  <mat-form-field class="t30-full-width">
    <input matInput placeholder="Name der Einrichtung" formControlName="name">
  </mat-form-field>
  <mat-form-field class="t30-full-width">
    <mat-select placeholder="Art der Einrichtung" formControlName="type">
      <mat-option *ngFor="let item of [1,2,3,4];" value="{{item}}">{{item |einrichtungsart }}</mat-option>
    </mat-select>
  </mat-form-field>
  <b>Adresse der Einrichtung bzw. Nebenstelle</b>
  <mat-form-field class="t30-full-width">
    <input matInput placeholder="Straße und Hausnummer" autocomplete="false" formControlName="street_house_no">
  </mat-form-field>
  <mat-form-field class="t30-half-width">
    <input matInput placeholder="PLZ" formControlName="zip">
  </mat-form-field>
  <mat-form-field class="t30-half-width">
    <input matInput placeholder="Ort" formControlName="city">
  </mat-form-field>
  <div class="t30-full-width-flex">
    <div class="t30-map-div">
      <yaga-map class="t30-map" zoom="17" [(lat)]="mapPos[1]" [(lng)]="mapPos[0]" (dblclick)="mapDblClick($event)">
        <yaga-tile-layer [(url)]="tileLayerUrl"></yaga-tile-layer>
        <yaga-zoom-control></yaga-zoom-control>
        <yaga-circle *ngIf="isMarkerMoved()" [(lat)]="position[1]" [(lng)]="position[0]" radius="5" fillColor="blue" color="blue">
        </yaga-circle>
        <yaga-marker [(lat)]="newPos[1]" [(lng)]="newPos[0]" (moveend)="mapMoveEnd();" draggable="true">
          <yaga-icon iconUrl="assets/marker-icon.png" shadowUrl="assets/marker-shadow.png" [(iconSize)]="marker.iconSize" [(iconAnchor)]="marker.iconAnchor" [(popupAnchor)]="marker.popupAnchor" [(tooltipAnchor)]="marker.tooltipAnchor" [(shadowSize)]="marker.shadowSize"></yaga-icon>
        </yaga-marker>
      </yaga-map>
      <mat-hint>Bitte ggf. Position korrigieren: Marker mit der Maus verschieben oder Doppelkick auf neue Position</mat-hint>
    </div>
    <div class="t30-daneben-div">
      <div *ngIf="isMarkerMoved()">
        Soll die Position wirklich von der Kreisposition auf den Marker geändert werden?
        <br>
        <button mat-raised-button color="primary" (click)="posAenderung()">
          <mat-icon>location_on</mat-icon> Ja
        </button>
        <button mat-raised-button color="basic" (click)="posReset()">
          <mat-icon>undo</mat-icon> Nein
        </button>
      </div>
    </div>
  </div>
  <h2 class="mat-h2">Hier kannst du alle Straßenabschnitte mit Haupteingängen und/oder An- und Abreiseverkehr im näheren Umfeld der Einrichtung einzeln eingeben.</h2>
  <div *ngIf=" getStrassenAbschnitte().length === 0">
    <mat-icon color="warn">warning</mat-icon> Hier fehlen noch Straßenabschnitte. Wir suchen Freiwillige mit Ortskenntnissen!
  </div>
  <div class="t30-full-width" formArrayName="streetSections" *ngFor="let item of getStrassenAbschnitte().controls; let i = index;">
    <app-street-section-edit [fg]="item" [fgIndex]="i" [strassenliste]="strassenliste" (deleteStrassenAbschnitt)="deleteStrassenAbschnitt($event)">
    </app-street-section-edit>
  </div>
  <div class="t30-full-width t30-streetsection-button">
  <button mat-raised-button matTooltip="Neuen Straßenabschnitt hinzufügen" type="submit" (click)="addStrassenAbschnitt()">
    Straßenabschnitt hinzufügen <mat-icon>add</mat-icon>
  </button>
  </div>
  <div class="t30-checkbox">
  <mat-checkbox formControlName="streetsection_complete">Alle mir bekannten an die Einrichtung angrenzenden Straßenabschnitte sind aufgeführt.</mat-checkbox>
  </div>
  <hr>
  <mat-action-row>
    <button mat-raised-button color="primary" (click)="onSave()">
      <mat-icon>save</mat-icon> Speichern
    </button>
  </mat-action-row>
</div>
