.t30-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
.t30-checkbox {
  width: 100%;
}
.t30-full-width {
  width: 100%;
}
.t30-half-width {
  width: 50%;
}
.t30-3-width {
  width: 32%;
}
.t30-streetsection-button {
  margin-top: 20px;
  margin-bottom: 20px;
}
.t30-full-width-flex {
    width: 100%;
    display: flex;
}
